*{
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
}

.global-width{
    width: 100%;
}

.main__section--red{
    background-color: red;
}

.main__section--green{
    background-color: green;
}